{{#each comment as |comment|}}

<div class="comments">

    <div class="comment-meta">
        <p>Posted by: {{user.username}}</p>
    </div>
    <div class="comment-text">
        <p>{{comment}}</p>
    </div>

</div>
{{/each}}