{{{#each comments as |comment|}}}

<div class="comments">

    <div class="comment-meta">
        {{{user.username}}}
    </div>
    <div class="comment-text">
        {{{comment}}}
    </div>

</div>
{{{/each}}}