<div class="comments">
    {{{#each this}}}
    <div class="comment-meta">
        {{{user.username}}}
    </div>
    <div class="comment-text">
        {{{comment}}}
    </div>
    {{{/each}}}
</div>