<div class="container" style="padding: 50px;">
<h2>{{{blog.title}}}</h2>

<p>{{{blog.content}}}</p>
</div>

<div class="container" style="padding: 50px;">
{{{comment.comment}}}
</div>

<form class="comment-form">
    <div class="form-floating comments container">
        <textarea class="form-control comment" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <button type="submit" class="new-comment-btn btn btn-primary">Comment</button>
    </div>
</form>

<script src="/js/comment.js"></script>

