<div class="container" style="padding: 50px;">
<div style="display: none;" id="blog-id">{{id}}</div>
<h2>{{title}}</h2>

<p>{{content}}</p>
</div>

<form class="comment-form">
    <div class="form-floating comments container">
        <textarea class="form-control comment" placeholder="Leave a comment here" id="comment"></textarea>
        <button type="submit" class="new-comment btn btn-primary">Comment</button>
    </div>
</form>
<div class="container" style="padding: 50px;">
{{#if comments}}
{{> comment}}
{{/if}}
</div>
<script src="/js/comment.js"></script>

