<div class="container" style="padding: 50px;">

<div class="container" style="padding: 50px;">
<form class="add-blog">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" class="form-control" name="blog-title" />
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea name="blog-content" id="content" class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" class="add-blog-btn btn btn-primary">Post</button>
</form>
</div>

<script src="/js/add-blog.js"></script>