{{#each blogs as |blog|}}
<div class="card border-light mb-3">
  <div class="card-header">
    Posted by {{{user.username}}}
  </div>
  <div class="card-body">
    <h5 class="card-title"><a href="/blog/{{{id}}}">{{{blog.title}}}</a></h5>
    <p class="card-text">{{{blog.content}}}</p>
  </div>
</div>
{{/each}}