<div class="container" style="padding: 50px;">
<h2>Login</h2>
<form class="login row g-3">
<div class="col-12">
    <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" />
    <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
  <button type="submit" class="btn btn-info" style="margin-top: 10px;">Login</button>
</form>
</div>
</div>
<div class="container" style="padding: 50px;">
<h2>Or Sign Up</h2>
<form class="signup row g-3">
    <div class="col-12">
    <label for="email-signup" class="form-label">Email</label>
      <input type="email" class="form-control" id="email-signup">
    <label for="username-signup" class="form-label">Username</label>
      <input type="text" class="form-control" id="username-signup">
    <label for="password-signup" class="form-label">Password</label>
      <input type="password" class="form-control" id="password-signup">
  <button type="submit" class="btn btn-info" style="margin-top: 10px;">Sign Up</button>
</form>
</div>
</div>

<script src="/js/login.js"></script>